
<form class="row g-3 needs-validation" method="post" novalidate >
    {% csrf_token %}
    <div class="col-md-6 mb-3">
        <label for="nombre_usuario" class="form-label font-weight-bold text-muted text-uppercase">Nombre</label>
        <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" value="{{usuario.nombre_usuario}}" placeholder="Ingrese los nombres" required>
        <div class="invalid-tooltip">
            Por favor, ingrese un nombre valido.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="apellido_usuario" class="form-label font-weight-bold text-muted text-uppercase">Apellido</label>
        <input type="text" class="form-control" id="apellido_usuario" name="apellido_usuario" value="{{usuario.apellido_usuario}}" placeholder="Ingrese los apellidos" required>
        <div class="invalid-tooltip">
            Por favor, ingrese un apellido valido.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="dni_usuario" class="form-label font-weight-bold text-muted text-uppercase">DNI:</label>
        <input type="number" class="form-control" id="dni_usuario" name="dni_usuario" value="{{usuario.dni_usuario}}" placeholder="7*******" required onblur="verifyDni()">
        <div class="invalid-tooltip">
            Por favor, ingrese un dni valido.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="username_usuario" class="form-label font-weight-bold text-muted text-uppercase">Username</label>
        <input type="text" class="form-control" id="username_usuario" name="username_usuario" value="{{usuario.usuario.username}}" placeholder="luis12***" required onblur="verifyUsername()">
        <div class="invalid-tooltip">
            Por favor, ingrese un username valido.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="password_usuario" class="form-label font-weight-bold text-muted text-uppercase">{% if usuario.id_usuario %} Nueva {% endif %} Contraseña</label>
        <input type="text" class="form-control" id="password_usuario" name="password_usuario" value="" placeholder="Ingrese {% if usuario.id_usuario %} Nueva {% endif %} contraseña" {% if not usuario.id_usuario %} required {% endif %}>
        {% if usuario.id_usuario %}
        <small id="passwordHelpBlock" class="form-text text-muted">
            Dejar en blanco si no desea cambiar la contraseña.
        </small>
        {% endif %}
        <div class="invalid-tooltip">
            Por favor, ingrese una contraseña valida.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="estado_usuario" class="form-label font-weight-bold text-muted text-uppercase">Estado del usuario</label>
        <select id="estado_usuario" name="estado_usuario" class="form-select form-control">
            <option value="1" {% if usuario.estado_usuario == 1 %} selected {% endif %}>Habilitado</option>
            <option value="0" {% if usuario.estado_usuario == 0 %} selected {% endif %}>Inhabilitado</option>
        </select>
    </div>
    <div class="col-md-6 mb-3">
        <label for="superUser" class="form-label font-weight-bold text-muted text-uppercase">Super Usuario</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="superUser" name="superUser" {% if usuario.usuario.is_superuser %} checked {% endif %}>
            <label class="form-check-label" for="superUser">
                Si
            </label>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Si es super usuario, tendra todos los permisos. Y no hace falta agregar permisos.***
        </small>
    </div>
    <div class="col-md-6 mb-3">
    </div>
    <!--agregar permisos django-->
    <div class="col-md-12 mb-3">
        <label for="permisos_usuario" class="form-label font-weight-bold text-muted text-uppercase">Permisos del usuario</label>
        <select multiple class="form-control choicesjs" id="id_permiso" name="id_permiso[]" >
            {% for permiso in permisos %}
            <option value="{{permiso.content_type_id}}" {% if permiso in usuario.usuario.user_permissions.all %} selected {% endif %}>{{permiso.name}}</option>
            {% endfor %}
        </select>
        <div class="invalid-tooltip">
            Por favor selecione algo valido.
        </div>
    </div>
    <div class="d-block justify-content-end mt-3">
        <button type="submit" class="btn btn-primary">Guardar Informacion</button>
        <a name="" id="" class="btn btn-secondary" href="{% url 'usuarios' %}" role="button">Cancelar</a>
    </div>
    
</form>

<!--validaciones :: incio-->
<script>
    dni_usuario.addEventListener('input', function (event) {
        // valor maximo de 8 digitos y minimo de 8 digitos
        if (dni_usuario.value.length > 8) {
            dni_usuario.value = dni_usuario.value.slice(0, 8)
        }
    });
    // nombre_usuario.addEventListener('input', function (event) {
    //     // valor solo letras
    //     if (!/^[a-zA-Z ]*$/.test(nombre_usuario.value)) {
    //         nombre_usuario.value = nombre_usuario.value.replace(/[^a-zA-Z ]/g, "");
    //     }
    // });
    apellido_usuario.addEventListener('input', function (event) {
        // valor solo letras
        if (!/^[a-zA-Z ]*$/.test(apellido_usuario.value)) {
            apellido_usuario.value = apellido_usuario.value.replace(/[^a-zA-Z ]/g, "");
        }
    });
    
    function verifyUsername() {
        let usernameWrite = username_usuario.value;
        $.ajax({
            url: "{% url 'verifyUsername' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                username: usernameWrite,
            },
            success: function (response) {
                if (response.isExist == true) {
                    let usernameCurrent = '{{usuario.usuario.username}}';
                    if (usernameCurrent != usernameWrite) {
                        Swal.fire({
                            text: response.message,
                            icon: 'error',
                            toast: true,
                            position: 'top-end',
                            timer: 3000,
                            timerProgressBar: true,
                            showConfirmButton: false,
                        })
                        username_usuario.value = '';
                    }
                }
            }
        });
    }
    function verifyDni() {
        let dniWrite = dni_usuario.value;
        $.ajax({
            url: "{% url 'verifyDni' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dni: dniWrite,
            },
            success: function (response) {
                if (response.isExist == true) {
                    let dniCurrent = '{{usuario.dni_usuario}}';
                    if (dniCurrent != dniWrite) {
                        Swal.fire({
                            text: response.message,
                            icon: 'error',
                            toast: true,
                            position: 'top-end',
                            timer: 3000,
                            timerProgressBar: true,
                            showConfirmButton: false,
                        })
                        dni_usuario.value = '';
                    }
                }
            }
        });
    }
</script>
<!--validaciones :: fin-->

{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: '{{ message }}',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
        })
    </script>
    {% endif %}
    {% if message.tags == 'error' %}
    <script>
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: '{{ message }}',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
        })
    </script>
    {% endif %}
    {% endfor %}
{% endif %}