{% extends "panel_client/plantillas/base.html" %}

{% block title %}SOVIO{% endblock %}
{% load static %}
{% block content %}
<section id="inicio">
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'panel_client/img/carousel-1.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Servicio Principal
                                </h5>
                                <h1 class="display-3 text-white animated slideInDown">Servicio de orientacion vocacional
                                    e informacion ocupacional</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Es un servicio gratuito que se brinda a nivel
                                    nacional que busca promover en los jóvenes el logro de sus metas de formación y
                                    empleo que forman parte de su proyecto de vida.</p>
                                <a href="#nosotros"
                                    class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Saber Mas</a>
                                <a href="{% url 'iniciar_seccion' %}"
                                    class="btn btn-light py-md-3 px-md-5 animated slideInRight">Iniciar Test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'panel_client/img/carousel-2.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Servicios secundarios
                                </h5>
                                <h1 class="display-3 text-white animated slideInDown">Servicio de Orientacion</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Servicios que son brindados gratuitamente previa
                                    coordinación con Gerencia Regional de Trabajo y Promoción del Empleo Cusco.</p>
                                <a href="#nosotros"
                                    class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Saber
                                    Mas</a>
                                <a href="{% url 'iniciar_seccion' %}"
                                    class="btn btn-light py-md-3 px-md-5 animated slideInRight">Iniciar Test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Carousel End -->

<section id="servicios">
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Evaluación - Orientación Vocacional</h5>
                            <p>
                                El servicio disponible de herramientas pedagógicas e instrumentos psicológicos para
                                desarrollar un proceso integral, puntual y especializado en la identificación de las
                                preferencias profesionales y características personales, orientado de mejor manera a la
                                toma de decisiones, informada y responsable de una carrera profesional, técnica u
                                ocupacional.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Ferias Laborales y de Orientación Vocacional Descentralizadas</h5>
                            <p>
                                Eventos donde se agrupan as principales instituciones formativas que existen en la
                                región las que expone de forma directa y en un solo lugar las diversas carreras
                                universitarias, técnicas y ocupacionales que ofrecen.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">Paneles Profesionales</h5>
                            <p>
                                Espacios donde se comparten temas de interés vinculados a la vocación, las carreras
                                profesionales, la situación de las ocupaciones en el mercado de trabajo, consejos para
                                elegir una carrera profesional exitosa, entre otras.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">Visitas Guiadas a Empresas</h5>
                            <p>
                                Brindad la oportunidad de conocer de cerca el desarrollo de una ocupación a través de
                                visitas a empresas representativas de las actividades económicas y productivas que
                                destacan en la región.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
</section>

<section id="nosotros">
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100"
                            src="{% static 'panel_client/img/about.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Acerca de Nosotros</h6>
                    <h1 class="mb-4">Bienvenido a SOVIO</h1>
                    <p class="mb-4">SOVIO es un servicio <strong>GRATUITO</strong> que busca orientar y facilitar la
                        eleccion de la carrera profesional, tecnica
                        u ocupacional que podrian seguir los jovenes al egresar de la etapa escolar</p>
                    <p class="mb-4">Su objetivo es intervenir de manera oportuna en su proceso decisorio vocacional
                        procurando una elección eficiente que mejore sus posibilidades futuras de inserción en ele
                        mercado laboral, lo que a su vez contribuye al ajuste ocupacional de la región.</p>
                    </p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Orientacion</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Informacion</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Test de Vocacion</p>
                        </div>
                    </div>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href=""><i class="fas fa-plus-circle"></i> Saber Mas</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
</section>

<!-- Categories Start -->
<!--
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
                <h1 class="mb-5">Courses Categories</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'panel_client/img/cat-1.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Web Design</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'panel_client/img/cat-2.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Graphic Design</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'panel_client/img/cat-3.jpg' %}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Video Editing</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'panel_client/img/cat-4.jpg' %}" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Online Marketing</h5>
                            <small class="text-primary">49 Courses</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    -->
<!-- Categories Start -->

<section id="orientador">
    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Orientador</h6>
                <h1 class="mb-5">Que brindamos ?</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-lightm p-2">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid"
                                src="https://th.bing.com/th/id/OIP.fi49FWk1vsLp4Tm2ouraggHaHa?pid=ImgDet&rs=1" alt="">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">Orientacion</h3>
                            <p class="mb-4">Para descubrir tu vocacion y construir tu proyecto de vida</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-lightm p-2">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="https://cdn.onlinewebfonts.com/svg/img_78635.png" alt="">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">Informacion</h3>
                            <p class="mb-4">Del mercado formativo laboral</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-lightm p-2">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid"
                                src="https://th.bing.com/th/id/OIP.53xQ1owywqKzXo19NlbhbgAAAA?pid=ImgDet&rs=1" alt="">
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">Evaluacion y asesoria</h3>
                            <p class="mb-4">Para la decision vocacional</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
</section>

<section id="plataformas">
    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Plataformas</h6>
                <h1 class="mb-5">Plataformas Aliadas</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'panel_client/img/plataform-1.jpg' %}" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="http://proyectatufuturo.trabajo.gob.pe/" target="_blank"
                                    class="flex-shrink-0 btn btn-sm btn-primary px-3 "
                                    style="border-radius: 30px;">Visitar</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">Proyecta tu futuro</h3>
                            <h5 class="mb-4">Plataforma aliada</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fas fa-external-link-alt text-primary me-2"></i>
                                <a href="http://proyectatufuturo.trabajo.gob.pe/"
                                    target="_blank">proyectatufuturo.trabajo.gob.pe</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'panel_client/img/plataform-2.jpg' %}" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="https://www.ponteencarrera.pe/pec-portal-web/" target="_blank"
                                    class="flex-shrink-0 btn btn-sm btn-primary px-3 "
                                    style="border-radius: 30px;">Visitar</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">Ponte en carrera</h3>
                            <h5 class="mb-4">Plataforma aliada</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fas fa-external-link-alt text-primary me-2"></i>
                                <a href="https://www.ponteencarrera.pe/pec-portal-web/"
                                    target="_blank">www.ponteencarrera.pe</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <style>
                                #sovio-logo-cat {
                                    padding: 65px 30px;
                                    background-color: #181d38;
                                }

                                @media screen and (max-width: 1400px) {
                                    #sovio-logo-cat {
                                        padding: 58px 30px;
                                    }
                                }

                                @media screen and (max-width: 1200px) {
                                    #sovio-logo-cat {
                                        padding: 50px 30px;
                                    }
                                }
                            </style>
                            <img class="img-fluid" src="{% static 'panel_client_registro/img/logo2.png' %}" alt=""
                                id="sovio-logo-cat">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="{% url 'index_client' %}" class="flex-shrink-0 btn btn-sm btn-primary px-3 "
                                    style="border-radius: 30px;">Visitar</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">SOVIO</h3>
                            <h5 class="mb-4">Plataforma aliada</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2">
                                <i class="fas fa-external-link-alt text-primary me-2"></i>
                                <a href="{% url 'index_client' %}">sovio-cusco.com.pe</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
</section>

<!-- Team Start -->
<!--<div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
                <h1 class="mb-5">Expert Instructors</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'panel_client/img/team-1.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'panel_client/img/team-2.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'panel_client/img/team-3.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{% static 'panel_client/img/team-4.jpg' %}" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
<!-- Team End -->


<!-- Testimonial Start -->
<!--<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'panel_client/img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'panel_client/img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'panel_client/img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{% static 'panel_client/img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Client Name</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
<!-- Testimonial End -->

<section id="enlaces">
    <!--Logos Start-->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Links</h6>
                <h1 class="mb-5">Enlaces Importantes</h1>
            </div>
            <div class="owl-carousel logos-carousel position-relative">
                <!--boton anterior-->
                <div class="logo-item text-center">
                    <a href="https://www.gob.pe/regioncusco" target="_blank"><img class="img-fluid"
                            src="{% static 'panel_client/img/logo-gorecusco.png' %}" alt="logo-gorecusco.png"></a>
                </div>
                <div class="logo-item text-center">
                    <a href="https://www.gob.pe/minedu" target="_blank"><img class="img-fluid"
                            src="{% static 'panel_client/img/logo-minedu.png' %}" alt="logo-minedu.png"></a>
                </div>
                <div class="logo-item text-center">
                    <a href="https://www.gob.pe/mtpe" target="_blank"><img class="img-fluid"
                            src="{% static 'panel_client/img/logo-mtpe.png' %}" alt="logo-mtpe.png"></a>
                </div>
                <div class="logo-item text-center">
                    <a href="https://drtpe.regioncusco.gob.pe/" target="_blank"><img class="img-fluid"
                            src="{% static 'panel_client/img/logo-trabajocusco.png' %}" alt="logo-trabajocusco.png"></a>
                </div>
                <div class="logo-item text-center">
                    <a href="http://www.unsaac.edu.pe/" target="_blank"><img class="img-fluid"
                            src="{% static 'panel_client/img/logo-unsaac.jpg' %}" alt="logo-unsaac.jpg"></a>
                </div>
                <div class="logo-item text-center">
                    <a href="https://www.gereducusco.gob.pe/" target="_blank"><img class="img-fluid"
                            src="{% static 'panel_client/img/logo-geredcusco.png' %}" alt="logo-geredcusco.png"></a>
                </div>
                <div class="logo-item text-center">
                    <a href="#"><img class="img-fluid" src="https://www.unamba.edu.pe/images/2019/11/06/dircetur.png"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!--Logos End-->
</section>


{% endblock %}