{% extends "panel_admin/plantillas/base.html" %}
{% block title %}Terminos de Uso y Condiciones{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Terminos de uso y condiciones</h4>
                </div>
            </div>
            <div class="card-body">
                <h5>1. Aceptación de los términos</h5>
                <p>Al acceder y utilizar este sitio web, usted acepta cumplir con los siguientes términos y condiciones de uso. Si no está de acuerdo con estos términos, por favor no utilice este sitio web.</p>
                
                <h5>2. Uso del sitio web</h5>
                <p>Este sitio web es una plataforma administrativa de test y está destinado únicamente para uso interno de la entidad pública del estado. Queda prohibido cualquier uso no autorizado o ilegal de este sitio web.</p>
                
                <h5>3. Responsabilidad del usuario</h5>
                <p>El usuario es responsable de mantener la confidencialidad de su cuenta y contraseña, así como de todas las actividades que ocurran bajo su cuenta. El usuario se compromete a notificar de inmediato cualquier uso no autorizado de su cuenta o cualquier otra violación de seguridad.</p>
                
                <h5>4. Propiedad intelectual</h5>
                <p>Todos los derechos de propiedad intelectual sobre el contenido y diseño de este sitio web son propiedad de la entidad pública del estado. Queda prohibida la reproducción, distribución o modificación del contenido sin autorización previa.</p>
                
                <h5>5. Modificaciones</h5>
                <p>La entidad pública del estado se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Se recomienda revisar periódicamente los términos y condiciones para estar al tanto de cualquier cambio.</p>
                
                <h5>6. Contacto</h5>
                <p>Si tiene alguna pregunta o inquietud acerca de estos términos y condiciones, por favor contáctenos a través de los canales de comunicación proporcionados en este sitio web.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}