/* antiguo btn-primary #1B3F85 */
/* antiguo btn-primary:hover #0b5ed7 */
/* antiguo btn-primary:hover #0a58ca */
/* antiguo text #3DA2DB */
.btn-primary{
    background-color: #1B3F85;
    border-color: #1B3F85;
    color: #fff;
}
.text-primary{
    color: #3DA2DB !important;
}
.btn-primary:hover{
    background-color: #0b5ed7;
    border-color: #0a58ca;
    color: #fff;
}
.header-carousel .owl-nav .owl-prev, .header-carousel .owl-nav .owl-next{
    border-radius: 5px;
}
.service-item {
    border-radius: 5px;
}
.img-fluid{
    border-radius: 5px;
}
.overflow-hidden{
    border-radius: 5px;
}
.testimonial-text{
    border-radius: 5px;
}
.owl-dot{
    border-radius: 50%;
}
/***************** Inicio Modificaciones *****************/
.btn {
    border-radius: 5px;
}

.form-control {
    border-radius: 5px;
}
.form-control:focus {
    box-shadow: none;
}
.logos-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.logos-carousel .logo-item{
    flex: 0 0 auto;
    margin: 10px 10px;
    width: 250px;
    height: 150px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    overflow: hidden;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos-carousel .logo-item img{
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
    padding: 25px;
    transition: all .3s ease;
}
.logos-carousel .logo-item:hover{
    transform: scale(1.1);
}
.logos-carousel .logo-item:hover img{
    transform: scale(1.1);
    transition: all .3s ease;
}
/***************** Fin Modificaciones *****************/