{% extends "panel_admin/plantillas/base.html" %}

{% block title %}Panel Admin{% endblock %}
{% load static %}
<!--Para cargar las imagenes-->
{% block content %}

<!-- Wrapper Start -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Comunicados</h4>
                </div>
                <div class="header-title">
                    <a href="{% url 'comunicados_crear' %}" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        Crear Comunicado
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="acc-edit">
                    <h5>Lista de Comunicados</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Es visible</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comunicado in comunicados %}
                                <tr>
                                    <td>{{comunicado.nombre_comunicado}}</td>
                                    <td>
                                        <img src="{{comunicado.img_comunicado.url}}" alt="" width="200px">
                                    </td>
                                    <td>{{comunicado.fecha_comunicado}}</td>
                                    <td>
                                        {% if comunicado.estado_comunicado %}
                                        <span class="badge badge-success btn-sm">SI</span>
                                        {% else %}
                                        <span class="badge badge-danger btn-sm">NO</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'comunicados_editar' comunicado.id_comunicado %}" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="{% url 'comunicados_eliminar' comunicado.id_comunicado %}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper End-->
<!--swal alert :: begin-->
<script>
    var boton_eliminar = document.querySelectorAll(".badge.bg-danger");
    boton_eliminar.forEach(boton => {
        boton.addEventListener("click", function(e){
            e.preventDefault();
            var url = this.getAttribute("href");
            Swal.fire({
                title: '¿Estas seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, ¡Borrar!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            })
        });
    });
</script>
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
        Swal.fire({
            icon: 'success',
            title: '¡Excelente!',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    {% endif %}
    {% if message.tags == 'error' %}
    <script>
        Swal.fire({
            icon: 'error',
            title: '¡Error!',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    {% endif %}
    {% endfor %}
{% endif %}
<!--swal alert :: end-->

{% endblock %}