{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="#" rel="icon">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'panel_client_registro/css/style.css' %}">
    <!-- font awasome-->
    <link rel="stylesheet" href="{% static 'panel_client_registro/lib/fontawesome-free-6.2.0/css/all.min.css' %}">

</head>
<body>
{% if user.is_authenticated %}
    <div class="nav canvas-image-blending">
        <div class="nav__container">
            <div class="nav__logo">
                {% if request.session.nombreAlumno == None %}
                    <a><img src="{%  static 'panel_client_registro/img/Trabajo_logo horizontal_positivo.svg'  %}" alt="logo"></a>
                {% else %}
                    <a href="{% url 'menu_preguntas' %}"><img src="{%  static 'panel_client_registro/img/Trabajo_logo horizontal_positivo.svg'  %}" alt="logo"></a>
                {% endif %}
            </div>
            <!--Nombre del colegio y boton cerrar session -->
            <div class="nav__user">
                <div class="nav__user__logo">
                    <img src="{{request.session.logoColegio}}"></img>
                </div>
                <div class="nav__user__name">
                    <h1>{{request.session.nombreColegio}}</h1>
                    <p>Alumno: {{request.session.nombreAlumno}}</p>
                </div>
                <div class="nav__user__button">
                    <a class="btn" href="{% url 'cerrar_seccion' %}" ><i class="fa-solid fa-power-off"></i> Cerrar session</a>
                </div>
            </div>
        </div>
    </div>
    
{% endif %}

{{col}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% block content %}
    {% endblock %}
    <script>
        // preguntando para cerrar la session swetalert
        const btnCerrarSeccion = document.querySelector('.nav__user__button');
        btnCerrarSeccion.addEventListener('click', (e) => {
            e.preventDefault();
            Swal.fire({
                title: '¿Estas seguro?',
                text: "¡No podras revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, cerrar session!',
                // cambiar el texto del boton cancelar
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = btnCerrarSeccion.children[0].href;
                }
            })
        })
    </script>
</body>
</html>