{% extends "panel_admin/plantillas/base.html" %}

{% block title %}Listado de Respuestas{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="d-flex flex-wrap align-items-center justify-content-between my-schedule mb-4">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="font-weight-bold">Ver respuestas de los test registrados</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-block card-stretch">
                    <div class="card-body p-0">
                        <div class="d-flex justify-content-between align-items-center p-3">
                            <h5 class="font-weight-bold mb-0">Buscar por DNI del alumno</h5>
                            <div class="d-flex align-items-center">
                                <div class="modal-product-search d-flex">
                                    <form class="mr-3 position-relative" action="{% url 'respuestas' %}" method="post">
                                        <div class="form-group mb-0">
                                            {% csrf_token %}
                                            <input type="text" class="form-control" id="exampleInputText"
                                                name="dni_alumno" placeholder="Ingrese su DNI" value="{{dni_alumno}}">
                                            <button type="submit" class="search-link"
                                                style="border: none; background-color: transparent;">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if respuestas is not None %}
                <div class="card card-block card-stretch">
                    <div class="card-body p-0">
                        <div class="d-flex justify-content-between align-items-center p-3">
                            <h4 class="font-weight-bold">Datos Personales</h4>
                        </div>
                        <div class="d-fle align-items-center p-3" style="display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;">
                            <!--column1-->
                            <div class="d-block">
                                <!--Nombre:-->
                                <div class="d-flex align-items-center">
                                    <div class="d-block">
                                        <h5 class="font-weight-bold mb-0">Nombres:</h5>
                                    </div>
                                    <div class="d-block ml-3">
                                        <h5 class="font-weight-light mb-0">{{alumno.nombre_alumno}}</h5>
                                    </div>
                                </div>
                                <!--Apellido:-->
                                <div class="d-flex align-items-center">
                                    <div class="d-block">
                                        <h5 class="font-weight-bold mb-0">Apellidos:</h5>
                                    </div>
                                    <div class="d-block ml-3">
                                        <h5 class="font-weight-light mb-0">{{alumno.apellido_alumno}}</h5>
                                    </div>
                                </div>
                                <!--DNI:-->
                                <div class="d-flex align-items-center">
                                    <div class="d-block">
                                        <h5 class="font-weight-bold mb-0">DNI:</h5>
                                    </div>
                                    <div class="d-block ml-3">
                                        <h5 class="font-weight-light mb-0">{{alumno.dni_alumno}}</h5>
                                    </div>
                                </div>
                            </div>
                            <!--column2-->
                            <div class="d-block">
                                <!--colegio:-->
                                <div class="d-flex align-items-center">
                                    <div class="d-block">
                                        <h5 class="font-weight-bold mb-0">Colegio:</h5>
                                    </div>
                                    <div class="d-block ml-3">
                                        <h5 class="font-weight-light mb-0">{{alumno.id_colegio.nombre_colegio}}</h5>
                                    </div>
                                </div>
                                <!--genero:-->
                                <div class="d-flex align-items-center">
                                    <div class="d-block">
                                        <h5 class="font-weight-bold mb-0">Genero:</h5>
                                    </div>
                                    <div class="d-block ml-3">
                                        <h5 class="font-weight-light mb-0">
                                            {% if alumno.genero_alumno == 1 %}
                                                Masculino
                                            {% elif alumno.genero_alumno == 0 %}
                                                Femenino
                                            {% else %}
                                                <!--advertencia-->
                                                <span class="badge badge-danger">Error: Algo salio mal</span>
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                                <!--Estado:-->
                                <div class="d-flex align-items-center">
                                    <div class="d-block">
                                        <h5 class="font-weight-bold mb-0">Estado de la encuesta:</h5>
                                    </div>
                                    <div class="d-block ml-3">
                                        <h5 class="font-weight-light mb-0">
                                            {% if estado_encuesta == 1 %}
                                                <span class="badge badge-success">Completado</span>
                                            {% elif estado_encuesta == 0 %}
                                                <span class="badge badge-warning">Pendiente</span>
                                            {% else %}
                                                <!--advertencia-->
                                                <span class="badge badge-danger">Error: Algo salio mal</span>
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4 class="font-weight-bold p-3">Respuestas positivas por vocacion</h4>
                        <div class="table-responsive">
                            <table class="table data-table mb-0 table-hover">
                                <thead class="table-color-heading">
                                    <tr class="text-light">
                                        <th scope="col">
                                            <label class="text-muted m-0">Tipo Vocacional</label>
                                        </th>
                                        <!-- {% for categoria in categorias %}
                                        <th scope="col">
                                            <label class="text-muted mb-0">{{categoria.nombre_categoria}}</label>
                                        </th>
                                        {% endfor %} -->
                                        <th scope="col">
                                            <label class="text-muted mb-0">Suma Total(SI)</label>
                                        </th>
                                        <th scope="col">
                                            <label class="text-muted mb-0">Baremos</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in tablaVocacionCategoria %}
                                    <tr class="white-space-no-wrap">
                                        <td>{{item.nombre_vocacion}}</td>
                                        <td>{{item.totalPreguntasPositivas}}</td>
                                        <td>{{item.totalBaremos}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <h4 class="font-weight-bold p-3">Respuestas por categoria y vocacion</h4>
                        <div class="table-responsive">
                            <table class="table data-table mb-0 table-hover">
                                <thead class="table-color-heading">
                                    <tr class="text-light">
                                        <th scope="col">
                                            <label class="text-muted m-0">Categoria</label>
                                        </th>
                                        <th scope="col">
                                            <label class="text-muted mb-0">Vocacion</label>
                                        </th>
                                        <!--respuestas si y no-->
                                        <th scope="col">
                                            <label class="text-muted mb-0">Respuestas SI</label>
                                        </th>
                                        <th scope="col">
                                            <label class="text-muted mb-0">Respuestas NO</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for resultado in resultados %}
                                    <tr class="white-space-no-wrap">
                                        <td>{{resultado.categoria}}</td>
                                        <td>{{resultado.vocacion}}</td>
                                        <td>{{resultado.si}}</td>
                                        <td>{{resultado.no}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="card card-block card-stretch">
                    <div class="card-body p-0">
                        <div class="d-flex justify-content-between align-items-center p-3">
                            <h5 class="font-weight-bold">Lista de respuestas para el DNI: "<em>{{alumno.dni_alumno}}</em>"</h5>
                            <!--select-->
                            <!--<div class="d-flex align-items-center">
                                <div class="modal-product-search d-flex">
                                    <form class="mr-3 position-relative">
                                        <div class="form-group
                                        mb-0">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Encuesta 1</option>
                                            <option>Encuesta 2</option>
                                            <option>Encuesta 3</option>
                                            <option>Encuesta 4</option>
                                            <option>Encuesta 5</option>
                                        </select>
                                        </div>
                                    </form>
                                </div>
                            </div>-->
                            <div class="d-block align-items-center">
                                {% if estado_encuesta == 1 %}
                                    <a href="{% url 'generar_pdf' alumno.id_alumno %}" type="button" class="btn btn-success" target="_blank">Descargar Ficha</a>
                                {% else %}
                                    <button type="button" class="btn btn-success" disabled>Descargar Ficha</button>
                                {% endif %}
                                <button class="btn btn-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                    </svg>
                                    Exportar Tabla
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table data-table mb-0 table-hover">
                                <thead class="table-color-heading">
                                    <tr class="text-light">
                                        <th scope="col">
                                            <label class="text-muted mb-0">Nombres</label>
                                        </th>
                                        <th scope="col">
                                            <label class="text-muted mb-0">Colegio</label>
                                        </th>
                                        <th scope="col">
                                            <label class="text-muted mb-0">Categoria</label>
                                        </th>
                                        <th scope="col">
                                            <label class="text-muted mb-0">Tipo de vocacion</label>
                                        </th>
                                        <th scope="col">
                                            <label class="text-muted mb-0">Pregunta</label>
                                        </th>
                                        <th scope="col">
                                            <label class="text-muted mb-0">Respuesta</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for respuesta in respuestas %}
                                    <tr class="white-space-no-wrap">
                                        <td>{{respuesta.id_encuesta.id_alumno.nombre_alumno}}</td>
                                        <td>{{respuesta.id_encuesta.id_alumno.id_colegio.nombre_colegio}}</td>
                                        <td>{{respuesta.id_pregunta.id_categoria.nombre_categoria}}</td>
                                        <td>{{respuesta.id_pregunta.id_vocacion.nombre_vocacion}}</td>
                                        <td>{{respuesta.id_pregunta.nombre_pregunta}}</td>
                                        <td>
                                            {% if respuesta.valor_respuesta == 1 %}
                                            Si
                                            {% else %}
                                            No
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% else %}
                <div>
                    <h3 class="text-center text-muted">El alumno no existe</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--swal alert :: begin-->
</script>
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
        Swal.fire({
            icon: 'success',
            title: '¡Excelente!',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    {% endif %}
    {% if message.tags == 'error' %}
    <script>
        Swal.fire({
            icon: 'error',
            title: '¡Error!',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
    {% endif %}
    {% endfor %}
{% endif %}
<!--swal alert :: end-->
{% endblock %}