
<form class="row g-3 needs-validation" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-6 mb-3">
        <label for="nombre_colegio" class="form-label font-weight-bold text-muted text-uppercase">Nombre del colegio</label>
        <input type="text" class="form-control" id="nombre_colegio" name="nombre_colegio" value="{{colegio.nombre_colegio}}" placeholder="Ingrese Nombre del colegio" required>
        <div class="invalid-tooltip">
            Por favor, ingrese un nombre de colegio válido.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="estado_colegio" class="form-label font-weight-bold text-muted text-uppercase">Estado del Login</label>
        <select id="estado_colegio" name="estado_colegio" class="form-select form-control">
            <option value="1" {% if colegio.estado_colegio == 1 %} selected {% endif %}>Habilitado</option>
            <option value="0" {% if colegio.estado_colegio == 0 %} selected {% endif %}>Inhabilitado</option>
        </select>
    </div>
    <div class="col-md-6 mb-3">
        <label for="codigo_colegio" class="form-label font-weight-bold text-muted text-uppercase">Codigo modular</label>
        <input type="text" class="form-control" id="codigo_colegio" name="codigo_colegio" value="{{colegio.codigo_colegio}}" placeholder="Ingrese Codigo modular">
    </div>
    <div class="col-md-6 mb-3">
        <label for="telefono_colegio" class="form-label font-weight-bold text-muted text-uppercase">Telefono</label>
        <input type="text" class="form-control" id="telefono_colegio" name="telefono_colegio" value="{{colegio.telefono_colegio}}" placeholder="Ingrese Telefono">
    </div>
    <div class="col-md-6 mb-3">
        <label for="direccion_colegio" class="form-label font-weight-bold text-muted text-uppercase">Direccion</label>
        <input type="text" class="form-control" id="direccion_colegio" name="direccion_colegio" value="{{colegio.direccion_colegio}}" placeholder="Ingrese Direccion">
    </div>
    <div class="col-md-6 mb-3">
        <label for="username_colegio" class="form-label font-weight-bold text-muted text-uppercase">Username</label>
        <input type="text" class="form-control" id="username_colegio" name="username_colegio" value="{{colegio.usuario.username}}" placeholder="Ingrese Username">
    </div>
    <div class="col-md-6 mb-3">
        <label for="password_colegio" class="form-label font-weight-bold text-muted text-uppercase">Nueva Contraseña</label>
        <input type="text" class="form-control" id="password_colegio" name="password_colegio" value="" placeholder="Ingrese Nueva contraseña">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Dejar en blanco si no desea cambiar la contraseña.
        </small>
    </div>
    <div class="col-md-12 mb-3">
        <label for="logo_colegio" class="form-label font-weight-bold text-muted text-uppercase">Logo del colegio(opcional)</label>
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="logo_colegio" name="logo_colegio" accept="image/*">
            <label class="custom-file-label" for="logo_colegio">Elija una imagen</label>
        </div>
        <div class="invalid-tooltip">
            Por favor, ingrese un archivo válido.
        </div>
        <div>
            <h4 class="text-muted">Logo actual:</h4>
            <a href="{{colegio.logo_colegio.url}}" target="_blank"><img src="{{colegio.logo_colegio.url}}" alt="" width="100px"></a>
        </div>
    </div>
    <div class="d-block justify-content-end mt-3">
        <button type="submit" class="btn btn-primary">Guardar Informacion</button>
        <a name="" id="" class="btn btn-secondary" href="{% url 'colegios' %}" role="button">Cancelar</a>
    </div>
    
</form>
<!--validaciones :: incio-->
<script>
    nombre_colegio.addEventListener('input', function (event) {
        // valor solo letras, numeros y acentos
        if (!/^[a-zA-Z0-9áéíóúÁÉÍÓÚ ]*$/.test(nombre_colegio.value)) {
            nombre_colegio.value = nombre_colegio.value.replace(/[^a-zA-Z0-9áéíóúÁÉÍÓÚ ]/g, "");
        }
    });
    telefono_colegio.addEventListener('input', function (event) {
        // valor solo numeros 
        if (!/^[0-9]*$/.test(telefono_colegio.value)) {
            telefono_colegio.value = telefono_colegio.value.replace(/[^0-9]/g, "");
        }
        if (telefono_colegio.value.length > 9) {
            telefono_colegio.value = telefono_colegio.value.slice(0, 9);
        }
    });
</script>
<!--validaciones :: fin-->